@import "~bootstrap/scss/bootstrap";

@import "variables";
@import "shared/base";


body {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),  /* Black with 50% transparency */
      rgba(0, 0, 0, 0.4)
    ),url("/src/css/30708777_7716416.jpg") no-repeat center; /* Use no-repeat and center */
  background-size: auto; /* Retain the image's original size */
  margin: 0; /* Optional: Remove default margins for consistency */
  padding: 20px; /* Restore padding if necessary */
  min-height: 100vh; /* Optional: Set the viewport height */
  min-width: 100vw; /* Optional: Set the viewport width */
}

.navbar-brand {
  font-size: 1.5em;
  img {
    display: inline-block;
    width: 50px;
  }
}

#root {
  h2 {
    margin-top: 0px;
  }

  h4 {
    margin-top: 20px;
  }
}

.btn-action {
  outline: none;
  border: none;
}


@import "main-window";
@import "call-window";
@import "call-modal";
