.call-btn {
    margin: 1.25rem; /* Changed from 20px to rem. */
    height: 2.8125rem; /* Changed from 45px to rem. */
    width: 6.25rem; /* Changed from 100px to rem. */
    background-color: rgb(16, 25, 67);
    border-radius: 0.5rem; /* Changed from 8px to rem. */
}

.call-btn:hover {
    background-color: rgb(26, 40, 100);
}